.pokedexController {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 96%;
    height: 6rem;
    color: #E8E8E8;
    letter-spacing: 0.2rem;
  }

.pokedexControllerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: #363636;
  border-radius: 1rem 0rem 0rem 1rem;
}

.pokemonNumberWrapper {
  margin: 1rem;
  padding: 0;
}

.pokedexPokemonNumber {
  font-size: 1.8rem;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pokedexPokemonName {
  font-size: 2.4rem;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pokedexPokemonName::first-letter {
  text-transform: capitalize;
}

.pokedexInfoButton {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: ease-in-out;
  transition-duration: 500ms;
  margin: 0.4rem;
  padding: 0.2rem;
}

.pokedexInfoButton:hover {
  color: #363636;
  background-color: #E8E8E8;
}

.pokedexControllerElementsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 4%;
  height: 6rem;
  padding: 1rem;
  color: #363636;
}

.pokedexControllerElement {
  color: #363636;
  border-radius: 0.5rem;
  transition: ease-in-out;
  transition-duration: 500ms;
  margin: 0.2rem
}

.pokedexControllerElementDisabled {
  color: #E8E8E8;
}

.pokedexControllerElement:hover {
  color:#E8E8E8;
  background-color: #363636;
  cursor: pointer;
}