.pokedexController {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 96%;
    height: 6rem;
    color: #E8E8E8;
  }

.pokedexControllerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: #363636;
  border-radius: 1rem 0rem 0rem 1rem;
}

.pokedexPokemonNumber {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pokedexPokemonName {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pokedexControllerElementsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 4%;
  height: 6rem;
  padding: 1rem;
  color: #363636;
}

.pokedexControllerElement {
  color: #363636;
  border-radius: 0.5rem;
  transition: ease-in-out;
  transition-duration: 500ms;
  margin: 0.2rem
}

.pokedexControllerElement:hover {
  color:white;
  background-color: #363636;
  cursor: pointer;
}